/vendor/ruby/
/ext/Makefile
/ext/mkmf.log
/ext/rbkit_tracer.bundle
/ext/*.o
/lib/rbkit_tracer.bundle
/tmp
Gemfile.lock
*.so
*.gem
.ruby-version
/ext/.kdev4/
/ext/ext.kdev4
/mkmf.log
/coverage
*.xcodeproj
/ext/libzmq.a
/ext/zeromq*
/ext/libmsgpack.a
/ext/msgpack*
/ext/TAGS
